# Object files
*.o

# Imagine files
test.cfg
config.cfg
DB.sqlite

# Executables
imagine
tests

# Scons files
.scons*

# Gcov files
./gcov/
*.gcda
*.gcno
*.gcov

# Other files
*.zarg*
*.log
*.aux
*.swp
*.vsd
